*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.bundle
*.dylib
*.so
*.unitypackage

*.fbx
*.fbx.meta
*.obj
*.obj.meta
*.abc
*.abc.meta

.vs/
_out/
_tmp/
_build_*/
external/
Library/
Temp/

AlembicImporter/*.csproj
AlembicImporter/*.sln
