*.o
*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb
*.sw[op]

*.exe
*.dll
*.so
*.dylib
*.unitypackage

release/
debug/
dependencies/
Plugin/Bin
Plugin/external/libs
.build/
Plugin/_build_*
*.dblite
excons.cache

.vs/
.idea
Library/
Temp/
_tmp/
_out/
external/
ipch/

StreamingAssets*
build/**
artifacts/**

# Ignore npmrc because it has your own personal key. It needs to be next
# to package.json though.
.npmrc

# Unignore specific folders
!Plugin/external/ThirdParty/Deploy/MacOS/include
!Plugin/external/ThirdParty/Deploy/MacOS/lib
!Plugin/external/ThirdParty/Deploy/Windows/include
!Plugin/external/ThirdParty/Deploy/Windows/lib*

# Package Validation Suite files are not tracked
AlembicImporter/ValidationSuiteResults/*

# Rulesets in this location should not be tracked
AlembicImporter/*.ruleset
