*.o
*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.dll
*.so
*.dylib

release/
debug/
dependencies/
Plugin/Bin
Plugin/external/libs
.build/
Plugin/_build_*
*.dblite
excons.cache

AlembicImporter/*.csproj
AlembicImporter/*.sln
AlembicImporter/Assets/UTJ/NormalPainter*
.vs/
Library/
Temp/
_tmp/
_out/
external/
ipch/

*.abc
*.abc.meta
abci.bundle/
build/
TestLocal*
StreamingAssets*
